.add__text {
   margin-bottom: 30px;
}

.add__no-cells_hidden {
   display: none;
}

.add__no-cells_text {
   margin-block: 30px;
}

.add__cells-container {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
   /* flex-direction: row-reverse; */
   align-items: flex-start;
   /* display: grid; */
   /* grid-template-columns: 1fr 1fr 1fr; */
   /* gap: 30px; */
}