
.hero__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 30px;
}

.hero__title {
   font-size: 60px;
   line-height: 110%;
   margin-bottom: 20px;
}

.hero__title span {
   color: var(--green-color);
}

.hero__subtitle {
   font-size: 18px;
   line-height: 150%;
   color: var(--gray-color);
   margin-bottom: 60px;
}