:root {
   --text-color: #2C2D35;
   --green-color: #598D66;
   --gray-color: #86928B;
   --accent-bg-color: #fff;
   --second-bg-color: #E1EDE6;
   --focus-bg-color: #D4E8D9;
   --active-green-color: #376B44;
   --catalog-link-hover-active: #F4F6F5;
   --promo-btn-bg-color: #EEDB6D;
   --promo-btn-bg-color-hover: #FAEB97;
   --promo-btn-border-focus: #A38314;
   --promo-btn-bg-color-active: #D9B949;
   --dividing-line: #C3D1C6;

}